body {
    margin: 0;
    font-family: Arial, sans-serif;
}

.navbar {
    background-color: #333;
    color: #fff;
    display: flex;
    align-items: center;
    padding: 10px;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    flex: 1;
}

.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}

.menu li {
    padding: 10px;
}

.menu li a {
    color: #fff;
    text-decoration: none;
}

.content {
    padding: 20px;
}

.specalizing {
    width: 45%;
    
}
DSC_9470.jpg

/* Hamburger Menu Styles */
.menu-icon {
    display: none;
    cursor: pointer;
}

.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 5px 0;
}

@media only screen and (max-width: 768px) {
    .menu {
        display: none;
    }

    .menu-icon {
        display: block;
    }

    .menu.active {
        display: flex;
        flex-direction: column;
        background-color: #444;
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }
}

.gallery-buttons-container {
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    bottom: 20px; /* Adjust this value to control the vertical position */
    z-index: 1001; /* Make sure it's above other elements */
}

.back-button {
    position: fixed;
    left: 10px; /* Adjust this value to control the horizontal position from the left */
    top: 50%;
    transform: translateY(-50%);
    margin-right: 20px; /* Optional margin to separate the back button from the forward button */
}

